/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
font-family:Georgia,serif;
font-size:14px;
}

.hidden {
display:none;
}

#titles{
position:fixed;
}

.title{
position:fixed;
padding:2px;
border:1px solid #000;
margin: 2px;
width:650px;
}

.highlighted {
background-color:#811;
color:white;
}

#comics {
position:fixed;
top:4em;
margin:1em;
width:800px;
}

.previous, .next {
background-color:#000;
color:#fff;
padding:0.5em;
margin:0.5em;
border:solid 1px #333;
}

.previous:hover, .next:hover {
background-color:#333;
color:#fff;
}

.next {
float:right;
}

.previous {
float:left;
}

#tags
{
position:absolute;
top:0em;
left:800px;
margin:1em;
padding:1em;
}

#current {
}

.tag {
font-size:200%;
}

#cloud{
clear:both;
}

.tagcloud {
line-height:150%;
border:1px dotted #333;
padding:2px;
margin:2px;
}

.tagcloud:hover {
background-color:#ecc;
}

.tocopy {
}